# API Gateway Port
PORT=8800

# Service URLs
USER_MANAGEMENT_URL=http://localhost:3001
COURSE_MANAGEMENT_URL=http://localhost:3002
PAYMENT_MANAGEMENT_URL=http://localhost:3003
ENROLLMENT_MANAGEMENT_URL=http://localhost:3004

# Node Environment
NODE_ENV=development
