# MongoDB Connection
MONGODB_URL=mongodb://localhost:27017/paymentManagement

# Service Port
PORT=3003

# Node Environment
NODE_ENV=development

# UserManagement Service URL (for auth validation)
USER_MANAGEMENT_URL=http://localhost:3001
